.place-center{
 display: grid;
 width: 100%;
 height: auto;
 min-height: 100vh;
 place-items: center;
 /* background-color: rebeccapurple; */
    background: #f0f0ff;

}
.bg-custom{
     background: rgba(77, 76, 178, 0.9);
}
.mr-1{
 margin-right: 0.75rem;
}
.bg-grand{
  background: #f0f0ff;
  
}

.form-container{
 width: 60%;
 /* height: 70vh; */
 height: fit-content;
 background-color: white;
 color: white;
 border-radius: 5px;
 /* padding: 2rem; */
 

}
.form-container-2{
 width: 60%;
 height: fit-content;
 background-color: white;
 color: white;
 border-radius: 5px;
 /* padding: 2rem; */
 

}
.link{
 color: white;
}
.link:hover{
 color: white;
}
.text-custom{
 color: rgba(77, 76, 178, 0.9);
 text-decoration: none;
 margin-left: 0.3rem;
}
.brand-side{
     background: rgba(77, 76, 178, 0.9);
     width: 100%;
     /* height: 70vh; */
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 2rem 1rem;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;

}
.brand-side-2{
     background: rgba(77, 76, 178, 0.9);
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 2rem 1rem;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;

}
.input-container{
 padding: 1rem ;
 width: 100%;
 height: auto;
}
.text-faded{
 color: black;
 opacity: 0.6;
 font-size: 0.85rem;
}
.text-grey{
 color: rgb(197, 192, 192);
 font-size: 0.9rem;
}
.text-white{
 color: white;
}
.form-wrapper{
 width: 80%;
}

.dashboard-container{
 width: 100%;
 height: 100vh;
 min-height: 100vh;

}
.mr-3{
 margin-right: 1rem;
}
.sidebar{
     background: #25233c;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
}
.sidebar-link{
 text-decoration: none;
 color: white;
 
}
.profile-img-container{
 display: flex;
 justify-content: flex-end;
 padding: 1rem 3rem;

}
.profile-avatar{
 width: 60px;
 height: 60px;
 border-radius: 50%;
 cursor: pointer;


}


.profile-list-container{
 display: flex;
 justify-content: flex-end;
 background: transparent;
 width: inherit;
 
}
.listed{
 list-style: none;
 display: flex;
 flex-direction: column;
 background-color: white;
 width: 200px;
 height: auto;
 padding: 1rem;
}
.listing{
 list-style: none;
 padding: 1rem;

}
.card-img-top{
 height: 200px;
 width: 100%;
}
.make-img{
 z-index: 500;
 margin-top: -7rem;
 border-radius: 50%;
 height: auto;
 width: 100%;
}
.profile-list{
 color: #333333;
 text-decoration: none;
 cursor: pointer;
}
.card{
 border: none;
}
/* .mt-negative{
 z-index: 600;
 margin-top: -2rem;
} */
@media screen and (max-width:770px) {
 .form-container{
 width: 80%;
 height: auto;
 background-color: white;
 color: white;

}
.form-wrapper{
 width: 100%;
}
.brand-side{
display: none;
}
.brand-side-2{
 display: none;
}
.form-container{
 width: 100%;
}
.form-container-2{
 width: 100%;
}
}
@media screen and (max-width:600px) {
.form-container{
 width: 100%;
 height: auto;
}

}